<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708496135763-ipr4oqdeqcnssua053nb0rk3v7ptlfeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708496135763-ipr4oqdeqcnssua053nb0rk3v7ptlfeq</string>
	<key>API_KEY</key>
	<string>AIzaSyAWEMmlgrGMbGY2_p6hsJ2_MSkYWli-S8c</string>
	<key>GCM_SENDER_ID</key>
	<string>708496135763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sugargirl.Sugarboy</string>
	<key>PROJECT_ID</key>
	<string>thegrid-5ebd6</string>
	<key>STORAGE_BUCKET</key>
	<string>thegrid-5ebd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708496135763:ios:17b6811a78f3c88a5cd8a6</string>
	<key>DATABASE_URL</key>
	<string>https://thegrid-5ebd6.firebaseio.com</string>
</dict>
</plist>